.callback {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    font-family: 'Rostelecom Basis Regular';
}

.callback__main {
    width: 70%;
    box-shadow: 0 0 0.3rem gray;
    display: flex;
    align-items: center;
    border-radius: 9px;
}

.callback-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
}

.callback__image {
    width: 17%;
}

.callback__title {
    font-weight: 600;
    margin-bottom: 1.5rem;
    font-size: 1.4em;
    letter-spacing: 1px;
}

.callback__form {
    width: 100%;
    display: flex;
    margin-bottom: .7rem;
    align-items: center;
}

.callback__input {
    font-family: 'Rostelecom Basis Regular';
    border: none;
    border-radius: 9px;
    background-color: white;
    box-shadow: 0 0 0.3rem gray;
    padding: 1rem 1rem;
    font-size: 1.1em;
    margin-right: 1rem;
    color: gray;
    height: max-content;
    transition: box-shadow .1s;
}

.callback__input:last-child {
    margin-right: 0;
}

.callback__input::placeholder {
    font-family: 'Rostelecom Basis Regular';
}

.callback__input:hover {
    box-shadow: 0 0 0.5rem #7800ff;
}

.callback__input:focus-visible {
    outline: none;
    box-shadow: 0 0 0.5rem #7800ff;
}

.callback__btn {
    font-family: 'Rostelecom Basis Regular';
    background-color: var(--orange);
    border: 2px solid transparent;
    color: white;
    padding: 1rem 2rem;
    font-size: 1em;
    border-radius: 9px;
    height: max-content;
    transition: box-shadow .2s, border .2s;
}

.callback__btn:hover {
    cursor: pointer;
    box-shadow: 0 0 .5rem var(--orange);
    border: 2px solid var(--orange);
}

.callback__note {
    color: gray;
}

.callback-wrapper_no-image {
    padding: 1rem 0;
}

@media (max-width: 1025px) {
    .callback__main {
        width: 80%;
    }

    .callback-wrapper {
        margin-left: 1rem;
    }

    .callback__title {
        margin-bottom: 1rem;
    }

    .callback__input {
        padding: .5rem 1rem;
        font-size: .95em;
    }

    .callback__btn {
        font-size: .95em;
        padding: .5rem 1rem;
    }

    .callback__image {
        display: none;
    }

    .callback-wrapper {
        width: 100%;
        padding: 1rem 0;
    }

    .callback__form {
        flex-direction: column;
        /* align-items: center; */
        width: 70%;
        margin: 0 auto;
    }

    .callback__input {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .callback__title {
        margin: 0 auto;
        margin-bottom: 1rem;
    }

    .callback__note {
        margin: 0 auto;
        margin-top: 1rem;
    }
    
}

@media screen and (max-width: 501px) {
    .callback__image {
        display: none;
    }

    .callback__main {
        width: 80%;
    }

    .callback-wrapper {
        margin-left: 0;
        padding: 1rem 2rem;
        text-align: center;
    }

    .callback__form {
        flex-direction: column;
    }

    .callback__input {
        margin-right: 0;
        margin-bottom: 1.5rem;
    }
}

