.presenation__footer {
    width: 100vw;
    display: flex;
    justify-content: center;
    background: linear-gradient(274.56deg,#ff4f12 -10.37%,#7800ff 94.74%);
    padding: 2rem 0;
    margin-top: 6rem;
}

.footer__advantages {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.advantage {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: 700;
    width: 25%;
    text-align: center;
}

.advantage__title {
    font-size: 1.3em;
}

.advantage__description {
    font-size: .9em;
    margin-top: .5rem;
}

.advantage__icon {
    height: 50px;
    fill: white;
    margin-bottom: 1rem;
}

@media screen and (max-width: 769px) {
    .advantage__description {
        display: none;
    }

    .footer__advantages {
        width: 90%;
    }

    .advantage__title {
        font-size: 1em;
    }
}

@media screen and (max-width: 501px) {
    .footer__advantages {
        flex-direction: column;
    }

    .advantage {
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .advantage:last-child {
        margin-bottom: 0;
    }
}