.presentation__main {
    padding-top: 8rem;
    display: flex;
    width: 100vw;
    justify-content: center;
}

.presentation__main-wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.presentation__main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 40%;
}

.main__title {
    font-size: 2em;
    line-height: 3rem;
}

.main__subtitle {
    margin: 1rem 0;
}

.main__link {
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 12px 18px;
    border-radius: 24px;
    background-color: var(--orange);
    transition: box-shadow .3s;
    box-sizing: border-box;
}

.main__link:hover {
    box-shadow: 0 0 .5rem var(--orange);
    cursor: pointer;
}

.slide-image {
    height: 500px;
}

@media (max-width: 1025px) {
    .main__title {
        font-size: 1.5em;
        line-height: 2rem;
    }

    .slide-image {
        height: 350px;
    }

    .swiper {
        width: 550px !important;
    }

    .presentation__main {
        padding-top: 10rem;
    }
}

@media screen and (max-width: 769px) {
    .presentation__main-wrapper {
        flex-direction: column;
    }

    .presentation__main-info {
        order: 2;
    }

    .presentation__main {
        padding-top: 7rem;
    }

    .presentation__main-info {
        width: 60%;
        margin-top: 1rem;
    }

    .swiper-pagination {
        bottom: 5px !important;
    }
}

@media screen and (max-width: 501px) {
    .presentation__main-wrapper {
        flex-direction: column;
    }

    .presentation__main-info {
        order: 2;
        width: 100%;
        margin-top: 2rem;
    }

    .swiper {
        width: 100vw !important;
    }

    .slide-image {
        height: 300px;
    }

    .swiper-pagination {
        bottom: -2px !important;
    }

    .presentation__main {
        padding-top: 10rem;
    }
}

@media screen and (max-width: 391px) {
    .slide-image {
        height: 240px;
    }

    .main__title {
        font-size: 1.5em;
        line-height: 2rem;
    }

    .main__subtitle {
        font-size: 1em;
    }
}